@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tiani-input {
    @apply input input-bordered w-full invalid:input-error;
  }

  .tiani-input-inline {
    @apply input input-bordered grow invalid:input-error;
  }

  .table {
    @apply whitespace-nowrap;
  }

  .tiani-table-pin-col {
    @apply sticky left-0 z-10
  }
}

@layer base {
  :root {

    /** shadcn */
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

/** shadcn */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
